.toast_container{
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    padding: 1em;
}

.all_toast{

}

.each_toast{
    border:1px solid black;
    padding: 20px 40px;
    margin: 15px;
    position: relative;
}

.cross{
    position: absolute;
    right: 7px;
    top: 1px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}