.EachNotification {
    padding: 40px 10px;
    margin: 10px;
    border: 2px solid black;
    position: relative;
}

.close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: bold;
    cursor: pointer;
}

.info{
    background-color: blue;
}

.error{
    background-color: red;
}

.success{
    background-color: green;
}
.toastProgress{
    left: 0;
    bottom: 0;
    position: absolute;
    height: 5px;
    width: 0%;
    background-color: white;
}