.App {
  font-family: sans-serif;
  text-align: center;
}

.boxWrapper {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  border: 3px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
